body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.radio-panel {
    width: 60%;
    height: 60%;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    border: 10px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.radio-button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 140px;
    height: 140px;
}

.radio-button img {
    max-width: 100%;
    max-height: 100%;
    max-width: 140px;
    max-height: 140px;
    transition: transform 0.2s ease-in-out;
}

.radio-button:hover img {
    transform: scale(1.1);
}

.special-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 140px;
    height: 140px;
}

.special-button button {
    background-color: rgba(85, 85, 85, 0.5);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}

.special-button input[type="text"] {
    background-color: rgba(85, 85, 85, 0.5);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.current-song {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-height: 60px; /* Adjust height to fit 3 lines */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
}

.current-song span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}

.current-song:hover {
    max-height: none; /* Allow container to expand */
}

.current-song:hover span {
    -webkit-line-clamp: unset; /* Remove line clamp on hover */
    white-space: normal; /* Allow text to wrap */
    height: auto; /* Adjust height to fit content */
}
